<!--<!DOCTYPE html>
<html lang="en">
<body>
    <header>
        <nav class="navbar-top">
            <ul class="navbar-top-ul">
                <li class="navbar-top-orders">
                </li>
                <li class="navbar-top-orders">
                </li>
            </ul>
        </nav>
        <nav class="navbar">
            <nav class="nav-menu --nav-dark" id="mySidenav">
                <a class="is-hidden-mobile brand is-uppercase has-text-weight-bold has-text-dark" href="//localhost:8443/">Avenue Fashion</a>
                <ul class="nav-menu-ul">
                    <div class="user-img">
                        <img src=/databases/{{username}}/image alt="" width="50" height="50"></img>
                    </div>
                </ul>   
            </nav>
        </nav>
    </header>
    <div class="banner banner-second">
        <div class="banner-container ">
        </div>
    </div>
    <div class="container">

        <div class="topbar-filter fw">
			<p id="total-order"></p>
		</div>
        <div class="columns is-mobile is-multiline" id="orderListing">
        </div>
        <div class="page-single">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <ul class="pagination">               
                            <li><button class="is-hidden-mobile brand is-uppercase has-text-weight-bold has-text-dark">more results</button></li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>  
    <div id="spinner-div" class="pt-5">
        <div class="spinner-border text-primary" role="status">
        </div>
    </div>
    <footer class="footer">     
        <div class="footer-bar-top">
            <li class="footer-bar-top-links">2024 Avenue Fashion</li>
        </div>
    </footer>
    <script src="/js/main.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
</body>
</html>-->