version: "3.9"
services:
  onlinesales:
    build:
      dockerfile: Dockerfile
    image: maalami/springbootstore:latest
    ports:
      - 8443:8443
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/items
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=Mundialmente1
      - SPRING_REDIS_HOST=redis
      - SPRING_REDIS_PORT=6379
    depends_on:
      - db
      - redis
    restart: always

  db:
    image: mysql:8.0.33
    environment:
      - MYSQL_DATABASE=items
      - MYSQL_ROOT_PASSWORD=Mundialmente1

  redis:
    image: redis:7-alpine
    ports:
      - 6379:6379
