apiVersion: apps/v1
kind: Deployment
metadata:
  name: store-container
spec:
  replicas: 2
  selector:
    matchLabels:
      app: store-container
  template:
    metadata:
      labels:
        app: store-container
    spec:
      containers:
      - name: store-container
        image: maalami/springbootstore
        ports:
        - containerPort: 8443
---
apiVersion: v1
kind: Service
metadata:
  name: store-service
spec:
  selector:
    app: store-container
  ports:
    - port: 8443
      targetPort: 8443
  type: ClusterIP
