    <!-- Barra de navegación -->
    <header>
        <nav class="navbar-top">
            <ul class="navbar-top-ul">
                <li class="navbar-top-item">
                    <!--<a href="login.html" class="navbar-top-links">Registro</a>-->
                </li>
                <li class="navbar-top-item">
                    <!--<a href="login.html" class="navbar-top-links">Iniciar sesión</a>-->
                </li>
                <ul *ngIf="loginService.isLogged()">
                    <li #user *ngIf="loginService.isUser()" class="navbar-top-item">
                        <!--user is registered and logged-->
                        
                        <a [routerLink]="['/shoppingcart/page']" class="navbar-top-links">
                            <i class="zmdi zmdi-shopping-cart"></i> Shopping cart
                            <!-- <i class="zmdi zmdi-chevron-down"></i> -->
                        </a>
                    </li>
                </ul>
            </ul>
        </nav>
        <nav class="navbar">
            <nav class="nav-menu" id="mySidenav">
                <li class="is-hidden-mobile brand is-uppercase has-text-weight-bold has-text-dark">Avenue Fashion </li>
              
                <ul *ngIf="loginService.isLogged()">
                    <ul #user *ngIf="loginService.isUser()" class="nav-menu-ul">
                        <div class="user-img">
                            <img [src]="loginService.getUserImage()" alt="" width="50" height="50"/>
                        </div>
                        <!--<li class="nav-menu-item"><a href="/my_profile" class="nav-menu-link">My profile</a></li> NO FUNCTIONALITY-->
                        <li class="nav-menu-item"><a [routerLink]="['/orders/user/',loginService.getUserName()]" class="nav-menu-link">Orders</a></li>
                        <button (click)="logout()" class="nav-menu-link">Logout</button>
                    </ul>
                    <ul #admin *ngIf="loginService.isAdmin()" class="nav-menu-ul">
                        <div class="user-img">
                            <img [src]="getAnonymousImage()" alt="" width="50" height="50"/>
                        </div>
                        <li class="nav-menu-item"><a [routerLink]="['/items']" class="nav-menu-link">Inventory</a></li>
                        <li class="nav-menu-item"><a [routerLink]="['/orders/admin']" class="nav-menu-link">Orders</a></li>  
                        <button (click)="logout()" class="nav-menu-link">Logout</button>    
                    </ul>
                    
                </ul>
                <ul *ngIf="!loginService.isLogged()" class="nav-menu-ul">
                    <div class="user-img">
                        <img [src]="getAnonymousImage()" alt="" width="50" height="50"/>
                    </div>   
                    <li class="nav-menu-item"><a [routerLink]="['/signup']" class="nav-menu-link">Registration</a></li>
                    <li class="nav-menu-item"><a [routerLink]="['/login']" class="nav-menu-link">Login</a></li>
                </ul>

                @if(loginService.isLogged()) {
                    <div style="border: solid 10px red ">{{ loginService.getUserName() }}</div>
                } @else {
                    <div style="border: solid 10px blue;">No User</div>
                }

                <!-- clustersnake45@gmail.com-->
            
                <!--search an item-->
                <div>
                    <span class="form-group-icon"><i class="zmdi zmdi-search"></i></span>
                    <input id="name" [(ngModel)]="name" placeholder="Search...">                  
                    <button (click)="searchItem()">Search</button>
                    
                </div>
                <!--items listing-->     
            </nav>
        </nav>
    </header>
    <!-- Banner -->
    <div class="banner banner-cover">
        <div class="banner-container ">
            <h1 class="title-cover">AVE</h1>
        </div>
    </div>

    <!-- Sección de fotografías -->
    <div class="container">

        <div class="topbar-filter fw">
            <p id="total-fav-item"><span>{{favourites}} favourites items</span> in total</p>
		</div>   

        <div class="columns is-mobile is-multiline" id="favouritesItems">
            <!--favourites items-->
            <div *ngFor="let item of favouritesItems" class="column is-half-mobile is-one-quarter-desktop">
                <div class="card">
                    <span class="price">{{item.price}}</span>
                    <img [src]="itemImage(item.id)" alt="" width="200" height="200">
                    <div #user *ngIf="loginService.isUser()">
                        <div class="card-simple-options">
                            <a [routerLink]="['/items/' + item.id + '/page']" class="btn btn--mini-rounded">
                                <div class="columns is-multiline">
                                    <div class="column is-full is-marginless"><p>ADD</p></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="card-info">
                        <h4 class="has-text-black has-text-centered has-text-weight-bold">{{item.name}}</h4>
                        <h4 class="has-text-centered">{{item.description}}</h4>
                        <h4 class="has-text-black has-text-centered has-text-weight-bold">{{item.price}} €</h4>
                        <div class="card-buttons">
                            <div *ngIf="loginService.isLogged()">
                                <div #user *ngIf="loginService.isUser()">
                                    <a [routerLink]="['/items/' + item.id + '/favourites/' + loginService.getUserName() + '/new']" class="btn btn--mini-rounded">
                                        <i class="zmdi zmdi-favorite-outline"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-single">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <ul class="fav-items-pagination">               
                            <li><button class="nav-menu-lin" (click)="showMoreFavItems()">more results</button></li>
                        </ul>
                    </div>                  
                </div>
            </div>
        </div>

        <!--item searching-->
        <div class="topbar-filter fw">
			<p id="total-item-founded">Found <span>{{founded}} items </span></p>
		</div>
        
        <!--items listing founded-->
        <div class="columns is-mobile is-multiline" id="itemFoundedListing">
            <!--items founded info-->
            <div *ngFor="let item of data" class="column is-half-mobile is-one-quarter-desktop">
                <div class="card">
                    <span class="price">{{item.price}}</span>
                    <img [src]="itemImage(item.id)" alt="" width="200" height="200">
                    <div #user *ngIf="loginService.isUser()">
                        <div class="card-simple-options">
                            <a [routerLink]="['/items/' + item.id + '/page']" class="btn btn--mini-rounded">
                                <div class="columns is-multiline">
                                    <div class="column is-full is-marginless"><p>ADD</p></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="card-info">
                        <h4 class="has-text-black has-text-centered has-text-weight-bold">{{item.name}}</h4>
                        <h4 class="has-text-centered">{{item.description}}</h4>
                        <h4 class="has-text-black has-text-centered has-text-weight-bold">{{item.price}} €</h4>
                        <div class="card-buttons">
                            <div *ngIf="loginService.isLogged()">
                                <div #user *ngIf="loginService.isUser()">
                                    <a [routerLink]="['/items/' + item.id + '/favourites/' + loginService.getUserName() + '/new']" class="btn btn--mini-rounded">
                                        <i class="zmdi zmdi-favorite-outline"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-single">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <ul class="items-founded-pagination">               
                            <li><button class="nav-menu-lin" (click)="showMoreFoundedItems()">more results</button></li>
                        </ul>
                    </div>                  
                </div>
            </div>
        </div>

        <div class="topbar-filter fw">
			<p id="total-item" *ngIf="capacity"><span>{{capacity}} items</span> in total</p>
		</div>
        <!--items listing-->
        <div class="columns is-mobile is-multiline" id="itemListing">

            <!--items info-->
            <div *ngFor="let item of items" class="column is-half-mobile is-one-quarter-desktop">        
                <div class="card">
                    <span class="price">{{item.price}}</span>
                    <img [src]="itemImage(item.id)" alt="" width="200" height="200">
                    <div #user *ngIf="loginService.isUser()">
                        <div class="card-simple-options">
                            <a [routerLink]="['/items/' + item.id + '/page']" class="btn btn--mini-rounded">
                                <div class="columns is-multiline">
                                    <div class="column is-full is-marginless"><p>ADD</p></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="card-info">
                        <h4 class="has-text-black has-text-centered has-text-weight-bold">{{item.name}}</h4>
                        <h4 class="has-text-centered">{{item.description}}</h4>
                        <h4 class="has-text-black has-text-centered has-text-weight-bold">{{item.price}} €</h4>
                        <div class="card-buttons">
                            <div *ngIf="loginService.isLogged()">
                                <div #user *ngIf="loginService.isUser()">
                                    <a [routerLink]="['/items/' + item.id + '/favourites/' + loginService.getUserName() + '/new']" class="btn btn--mini-rounded">
                                        <i class="zmdi zmdi-favorite-outline"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-single">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <ul class="pagination">               
                            <li><button class="nav-menu-lin" (click)="showMoreItems()">more results</button></li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
<!--pagination-->
    
<!--spinner-->    
    <div id="spinner-div" class="pt-5">
        <div class="spinner-border text-primary" role="status">
        </div>
    </div>

    <div id="plotlyChart" width="400" height="150"></div>

    <footer class="footer">     
        <div class="footer-bar-top">
            <li class="footer-bar-top-links">2024 Avenue Fashion</li>
        </div>
    </footer>
    <!--<script src="/js/main.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
    

