<!--<!DOCTYPE html>
<html lang="en">
<body>
    <header>
        <nav class="navbar-top">
            <ul class="navbar-top-ul">
                <li class="navbar-top-item">
                </li>
                <li class="navbar-top-item">
                </li>
            </ul>
        </nav>
        <nav class="navbar">
            <nav class="nav-menu" id="mySidenav">
                <li class="is-hidden-mobile brand is-uppercase has-text-weight-bold has-text-dark" href="//localhost:8443/">Avenue Fashion</li>
                <ul class="nav-menu-ul">
                    <div class="user-img">
                        <img src="//localhost:8443/databases/users/39/image" alt="" width="50" height="50"></img>
                    </div>
                    <li class="nav-menu-item"><a href="//localhost:8444/items/page" class="nav-menu-link">New item</a></li>
                </ul>
                <form>
                    <div>
                        <span class="form-group-icon"><i class="zmdi zmdi-search"></i></span>
                        <input id="name" name="name" type="text" val="" placeholder="Search..."/>                       
                        <input class="submit" type="button" value="search"/>
                        
                    </div>
                </form>   
            </nav>
        </nav>
    </header>
    <div class="container">

        <div class="topbar-filter fw">
			<p id="total-item-founded"></p>
		</div>
        <div class="columns is-mobile is-multiline" id="itemFoundedListing">
        </div>
        <div class="page-single">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <ul class="items-founded-pagination">               
                            <li><button class="is-hidden-mobile brand is-uppercase has-text-weight-bold has-text-dark">more results</button></li>
                        </ul>
                    </div>                  
                </div>
            </div>
        </div>

        <div class="topbar-filter fw">
			<p id="total-item"></p>
		</div>
        <div class="columns is-mobile is-multiline" id="itemListing">
        </div>
        <div class="page-single">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <ul class="pagination">               
                            <li><button class="is-hidden-mobile brand is-uppercase has-text-weight-bold has-text-dark">more results</button></li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>

    <div id="spinner-div" class="pt-5">
        <div class="spinner-border text-primary" role="status">
        </div>
    </div>

    <div id="plotlyChart" width="400" height="150"></div>

    <footer class="footer">     
        <div class="footer-bar-top">
            <li class="footer-bar-top-links">2024 Avenue Fashion</li>
        </div>
    </footer>
    <script src="/js/main.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
</body>
</html>-->