<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bulma.min.css">
    <link rel="stylesheet" href="/css/material-design-iconic-font.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>

<body>
    <!-- Barra de navegación -->
    <header>
        <nav class="navbar">
            <nav class="nav-menu --nav-dark" id="mySidenav">
                <a class="is-hidden-mobile brand is-uppercase has-text-weight-bold has-text-white" href="/">Avenue Fashion</a>
                <ul class="nav-menu-ul"></ul>
            </nav>
        </nav>
        <nav class="navbar">
            <header class="nabvar-mobile is-size-5-mobile">
                <a class="navbar-mobile-link has-text-white" href="#" id="btn-mobile"><i class="zmdi zmdi-menu"></i></a>
            </header>
        </nav>
    </header>
    <!-- Banner -->
    <div class="banner banner-second">
        <div class="banner-container ">
            <h1>Shopping cart</h1>
            <h2 class="zmdi zmdi-shopping-cart"></h2> 
            {{#neworder}}
            <div class="has-text-light"></div>
            <h1 class="nav-menu-link has-text-weight-bold has-text-grey-light">CART EMPTY !!!</h1>
            {{/neworder}}
            {{^neworder}}
            <div class="has-text-light" id="cart"></div>
            <a href="/orders/new/users/{{username}}"><h1 class="nav-menu-link has-text-weight-bold has-text-grey-light">Generate order</h1></a>
            {{/neworder}}
        </div>
    </div>


    <div class="container">
        <div class="columns">
            <div class="slider" id="slider">
                
                <div class="button-left">    
                </div>
                <div class="button-right">
                </div>
            </div>
        </div>
    </div>


    <!-- footer -->
    <footer class="footer">
        <div class="footer-bar-top">
            <div class="container">
                <a class="footer-bar-top-links">2024 Avenue Fashion</a>
            </div>
        </div>
    </footer>

    <script src="/js/main.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</body>
<script>

    let ruta='/api/shoppingcart/{{username}}/items';
    let ruta1='/api/shoppingcart/{{username}}';
  
    var stock = "";
    

    function loadInitItems(callback){
        $.ajax({
            url:ruta
        }).done(function (items){
            callback(items);
        })
    }

    function loadShoppingCart(callback){
        $.ajax({
            url:ruta1
        }).done(function(cart){
            callback(cart);
        })
    }

    function showFirstItem(item){
        if(item.items[0].stocks[0].stock >= 5){
            stock = "In stock";
        }else{
            stock = "less than 5 articles avaialables";
        }
        $('.slider').append(
            '<div class="slider-img-container active" style="align: center"><div class="column"><div class="card"><img src="/api/items/' + item.items[0].id + 
            '/image" alt="camiseta" width="200" height="200"><div class="card-simple-options"><a href="/shoppingcart/' + item.id + 
            '/remove" class="btn btn--mini-rounded"><div class="columns is-multiline"><div class="column is-full is-marginless">REMOVE</div></div></a></div></div></div><h3 class="is-size-4">' + item.items[0].name +
            '</h3><h2 class="price is-size-4">' + (item.count)*item.items[0].price + '€<sup></sup></h2><div class="column"><p class="has-text-grey"><strong>Availability: </strong>' + stock + 
            '</p><p class="has-text-grey"><strong>Gender: </strong>' + item.items[0].gender + '</p><p class="has-text-grey"><strong>Size: </strong>' + item.size + 
            '</p><p class="has-text-grey"><strong>Type: </strong>' + item.items[0].type + '</p><p class="has-text-grey"><strong>Amount: </strong>' + item.count + 
            '</p><p class="has-text-grey"><strong>price per unit: </strong>' + item.items[0].price + '€</p></div><p class="text-default">' + item.items[0].description + '</p></div>'
        )
    }

    function showOtherItems(item){
        if(item.items[0].stocks[0].stock >= 5){
            stock = "In stock";
        }else{
            stock = "less than 5 articles avaialables";
        }
        $('.slider').append(
            '<div class="slider-img-container"><div class="column"><div class="card"><img src="/api/items/' + item.items[0].id + 
            '/image" alt="camiseta" width="200" height="200"><div class="card-simple-options"><a href="/shoppingcart/' + item.id + 
            '/remove" class="btn btn--mini-rounded"><div class="columns is-multiline"><div class="column is-full is-marginless">REMOVE</div></div></a></div></div></div><h3 class="is-size-4">' + item.items[0].name +
            '</h3><h2 class="price is-size-4">' + (item.count)*item.items[0].price + '€<sup></sup></h2><div class="column"><p class="has-text-grey"><strong>Availability: </strong>' + stock + 
            '</p><p class="has-text-grey"><strong>Gender: </strong>' + item.items[0].gender + '</p><p class="has-text-grey"><strong>Size: </strong>' + item.size + 
            '</p><p class="has-text-grey"><strong>Type: </strong>' + item.items[0].type + '</p><p class="has-text-grey"><strong>Amount: </strong>' + item.count + 
            '</p><p class="has-text-grey"><strong>price per unit: </strong>' + item.items[0].price + '€</p></div><p class="text-default">' + item.items[0].description + '</p></div>'
        )
    }

    function showPreviousButton(n){
        $('.button-left').append(
            '<div class="slider-button-left slider-buttons" onclick="previus(' + n + ')"><i class="zmdi zmdi-chevron-left zmdi-hc-3x"></i></div>'
        )
    }

    function showNextButton(n){
        $('.button-right').append(
            '<div class="slider-button-right slider-buttons" onclick="next(' + n + ')"><i class="zmdi zmdi-chevron-right zmdi-hc-3x"></i></div>'
        )
    }

    function showSoppingCart(cart){
        $('#cart').append('<h1 class="has-text-weight-bold has-text-grey-light">' + cart.totalCost + ' €</h1>')
    }

    $(document).ready(function() {

        loadInitItems(function(items) {
            if(items.length != 0){
                showFirstItem(items[0]);
                if(items.length > 1){
                    for(var i=1; i<items.length; i++){
                        showOtherItems(items[i]);
                    }
                }
                showPreviousButton(items.length);
                showNextButton(items.length);
            } else {
                console.log(null);
            }
        });

        loadShoppingCart(function(cart) {
            showSoppingCart(cart);
        })

    });
</script>
</html>